In [1]:
# Set up imports
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import seaborn as sns
from pathlib import Path

In [2]:
# Import CSV
filepath = "Resources/student_health_data.csv"
dirty_data = pd.read_csv(filepath)

# Check it
dirty_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Student_ID                1000 non-null   int64
 1   Age                       1000 non-null   int64
 2   Gender                    1000 non-null   object
 3   Heart_Rate                1000 non-null   float64
 4   Blood_Pressure_Systolic   1000 non-null   float64
 5   Blood_Pressure_Diastolic  1000 non-null   float64
 6   Stress_Level_Biosensor    1000 non-null   float64
 7   Stress_Level_Self_Report  1000 non-null   float64
 8   Physical_Activity         1000 non-null   object
 9   Sleep_Quality             1000 non-null   object
 10  Mood                      1000 non-null   object
 11  Study_Hours               1000 non-null   float64
 12  Project_Hours             1000 non-null   float64
 13  Health_Risk_Level         1000 non-null   object
dtypes: float64(7), int64(2), object(5)
memory usage: 109.5+ KB

In [3]:
dirty_data.head()

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
0,1,24,M,50.663217,122.173015,84.419860,3.137350,9.028669,High,Moderate,Happy,34.520973,16.800956,Moderate
1,2,21,F,57.926042,110.778407,75.696145,3.699078,5.819697,Moderate,Good,Stressed,16.763846,15.791154,Moderate
2,3,22,M,59.294219,109.375673,83.803814,6.785156,5.892360,Low,Moderate,Happy,44.203798,25.678437,Moderate
3,4,24,M,76.826232,125.142227,78.091587,6.408509,6.884001,High,Poor,Happy,21.776645,20.808391,High
4,5,20,M,68.342769,107.515592,80.674937,7.264719,4.483450,Moderate,Poor,Happy,8.964999,15.194045,Moderate

In [4]:
clean_data = dirty_data

In [5]:
# lets make integers
clean_data["Blood_Pressure_Systolic"] = clean_data["Blood_Pressure_Systolic"].astype("int")
clean_data["Heart_Rate"] = clean_data["Heart_Rate"].astype("int")
clean_data["Blood_Pressure_Diastolic"] = clean_data["Blood_Pressure_Diastolic"].astype("int")
clean_data["Stress_Level_Biosensor"] = clean_data["Stress_Level_Biosensor"].astype("int")
clean_data["Stress_Level_Self_Report"] = clean_data["Stress_Level_Self_Report"].astype("int")
clean_data["Study_Hours"] = clean_data["Study_Hours"].astype("int")
clean_data["Project_Hours"] = clean_data["Project_Hours"].astype("int")
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Student_ID                1000 non-null   int64
 1   Age                       1000 non-null   int64
 2   Gender                    1000 non-null   object
 3   Heart_Rate                1000 non-null   int32
 4   Blood_Pressure_Systolic   1000 non-null   int32
 5   Blood_Pressure_Diastolic  1000 non-null   int32
 6   Stress_Level_Biosensor    1000 non-null   int32
 7   Stress_Level_Self_Report  1000 non-null   int32
 8   Physical_Activity         1000 non-null   object
 9   Sleep_Quality             1000 non-null   object
 10  Mood                      1000 non-null   object
 11  Study_Hours               1000 non-null   int32
 12  Project_Hours             1000 non-null   int32
 13  Health_Risk_Level         1000 non-null   object
dtypes: int32(7), int64(2), object(5)
memory usage: 82.2+ KB

In [6]:
clean_data.head()

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
0,1,24,M,50,122,84,3,9,High,Moderate,Happy,34,16,Moderate
1,2,21,F,57,110,75,3,5,Moderate,Good,Stressed,16,15,Moderate
2,3,22,M,59,109,83,6,5,Low,Moderate,Happy,44,25,Moderate
3,4,24,M,76,125,78,6,6,High,Poor,Happy,21,20,High
4,5,20,M,68,107,80,7,4,Moderate,Poor,Happy,8,15,Moderate